/* 스타일 리셋 */
@import "reset.css";
/* 커스텀 디자인 */
:root {
  /* font-color */
  --color-white: #fff;
  --color-violet: #5b2386;
  --color-yellow: #f5df4d;
  --color-grey: #babcbe;
  /* font-family */
  --main-font-family: "M PLUS 1p", sans-serif;
  /* font-size */
  --font-size-large: 70px;
  --font-size-medium-large: 36px;
  --font-size-medium: 20px;
  --font-size-small: 16px;
  --font-size-micro: 12px;
  /* margin */
  --size-margin-large: 70px;
  --size-margin-medium: 40px;
  --size-margin-small: 20px;
  /* padding */
  --size-padding-large: 70px;
  --size-padding-medium-large: 36px;
  --size-padding-medium: 24px;
  --size-padding-small: 12px;
  /* animation */
  --animation-duration: 300ms;
}

body {
  background-color: var(--color-violet);
  color: var(--color-white);
  font-family: var(--main-font-family);
  height: 100%;
}

.wrappers {
  margin: var(--size-margin-medium) 0;
}
/* 버튼 기본 스타일 */
button {
  border-radius: 20px;
  border: none;
  outline: none;
  padding: calc(var(--size-padding-small) * 0.75) var(--size-padding-medium);
  cursor: pointer;
  font-size: var(--font-size-medium);
  color: var(--color-violet);
  background-color: var(--color-yellow);
  font-family: var(--main-font-family);
  line-height: 1.7;
  opacity: 0.77;
  transition: var(--animation-duration) all;
}

button:hover {
  opacity: 1;
  transform: scale(1.015);
}

#main_wrap {
  padding: var(--size-padding-large) calc(var(--size-padding-large) / 2);
  position: relative;
  height: 100%;
}

#contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 타이틀 */
.title_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--size-margin-large);
}

.title_wrap .clock_img {
  width: 256px;
  height: 256px;
  position: absolute;
}

.title_wrap .title_img {
  position: relative;
  width: 564px;
}
/* 명언 */
.quotes_wrap p {
  font-family: var(--main-font-family);
  color: var(--color-yellow);
  font-size: var(--font-size-medium-large);
}
/* 설명 */
.explain_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.explain_wrap p {
  position: absolute;
  color: var(--color-yellow);
  line-height: 1.5;
}

.explain_wrap p span {
  font-family: var(--main-font-family);
  font-size: var(--font-size-medium);
}
/* 사용자 입력창 */
.input_wrap {
  margin: var(--size-margin-large) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-medium);
  color: var(--color-yellow);
}

.input_expert_wrap,
.input_time_wrap {
  width: 100%;
  margin: var(--size-margin-small) 0;
}

.inputs {
  padding: var(--size-padding-small) var(--size-padding-medium);
  margin: 0 var(--size-margin-small);
  border: none;
  border-radius: 10px;
  width: 200px;
  font-size: var(--font-size-medium);
}

.inputs::placeholder {
  color: var(--color-grey);
}
/* 계산하기 버튼 */
.start_btn_wrap {
  display: flex;
  justify-content: center;
  text-align: center;
}

.start_btn_wrap button {
  position: relative;
}

.start_btn_wrap .click_img {
  position: absolute;
  right: -15%;
  top: -15%;
}
/* 로딩 이미지 */
@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

.loading_wrap {
  display: none;
}

.loading_wrap img {
  width: 100px;
  height: 100px;
  animation: loading 1.2s infinite linear;
}
/* 결과 */
.results_wrap {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: var(--size-margin-medium);
  line-height: 1.7;
}

.results_wrap p {
  font-size: var(--font-size-medium);
  padding: var(--size-padding-medium) 0;
}

.expert_result,
.time_result {
  font-family: var(--main-font-family);
  padding: 0 var(--size-padding-medium);
  font-size: var(--font-size-large);
}

.results_btn_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.share_btn {
  background-color: var(--color-white);
  margin-left: var(--size-margin-small);
}
/* 모달창 */
#modal {
  display: none;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 15%;
  left: 0;
  text-align: center;
  z-index: 999;
}

.modal_wrap {
  padding: var(--size-padding-medium) 0;
  width: 600px;
  height: 620px;
  background-color: var(--color-white);
  color: var(--color-violet);
  border-radius: 20px;
}

.cheer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: var(--size-padding-medium) 0 calc(var(--size-padding-medium) / 2) 0;
  font-family: var(--main-font-family);
}

.cheer_top {
  font-size: var(--font-size-large);
  margin-bottom: calc(var(--size-margin-small));
}

.cheer_bottom {
  font-size: var(--font-size-medium-large);
}

@keyframes licat {
  100% {
    opacity: 1;
    transform: scale(1.05);
  }
}

.cheer_img_wrap img {
  opacity: 0.77;
  animation: licat 1.2s infinite linear;
}

.close_btn {
  margin: var(--size-margin-small) 0;
  box-shadow: 4px 4px 4px 4px var(--color-grey);
}

.just {
  font-size: var(--font-size-small);
  color: var(--color-grey);
}
/* 풋터 */
#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: var(--size-padding-large);
}

.footer_img_wrap {
  margin: var(--size-margin-small) 0;
}

.footer_rights {
  font-size: var(--font-size-micro);
  line-height: 1.5;
}

/* 미디어 쿼리 */

@media only screen and (max-width: 413px) {
  :root {
    /* media font size */
    --font-size-large: 36px;
    --font-size-medium-large: 24px;
    --font-size-medium: 14px;
    --font-size-small: 12px;
    --font-size-micro: 8px;
    /* media margin size */
    --size-margin-large: 36px;
    --size-margin-medium: 26px;
    --size-margin-small: 12px;
    /* padding */
    --size-padding-large: 36px;
    --size-padding-medium-large: 24px;
    --size-padding-medium: 16px;
    --size-padding-small: 8px;
  }
  .title_wrap .clock_img {
    width: 128px;
    height: 128px;
    position: absolute;
  }
  .title_wrap .title_img {
    position: relative;
    width: 282px;
  }
  .quotes_wrap p {
    text-align: center;
  }
  .quotes_img {
    width: 382px;
  }
  .start_btn_wrap {
    width: 284px;
  }
  .inputs {
    border: none;
    border-radius: 10px;
    width: 80px;
    font-size: var(--font-size-medium);
  }
  #input_time {
    width: 40px;
  }
  .share_btn {
    margin: 0;
  }
}
